* {
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #d9d7b8;
}


.header {
    padding-top: 1%;
    padding-bottom: 1%;
    flex-direction: column;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header a {
    margin-bottom: 1%;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.title:visited, title:link {
    text-decoration: none;
    color: white;
}

.subTitle {
    font-weight: 400;
}


#homeForm {
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    min-height: 22vh;
    margin-left: 30%;
    margin-top: 8%;
}


#code {
    flex: 1;
    font-size: 2em;
    text-align: center;
}


#joinList {
    font-family: 'Roboto Mono', monospace;
    background: #1abc9c;
    flex: 1;
    font-size: 2em;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

#codeLabel {
    font-size: 1.5em;
}

#createList {
    font-family: 'Roboto Mono', monospace;
    margin-left: 35%;
    margin-top: 5%;
    background: #1abc9c;
    font-size: 2em;
    color: white;
    border: 1px solid black;
    width: 30%;
    padding: 1%;
    cursor: pointer;
}

#registerLogin a, #logout, #savedLists a, #savedLists a:visited {
    color: #1abc9c;
    text-decoration: none;
    float: right;
    font-size: 1.2em;
    margin-right: 1.5%;
    margin-top: 0.5%;
}

#registerLogin a:hover, #registerLogin a:visited:hover, #logout:hover, #savedLists a:hover {
    color: #0c856d;
    cursor: pointer;
    transform: scale(1.2);
}

#registerLogin a:visited {
    color: #1abc9c;
    text-decoration: none;
}

/*Register and login*/

/*#containerRows {*/
/*    margin-top: 8%;*/
/*    margin-left: 10%;*/
/*    width: 80%;*/
/*}*/

#register input, #login input {
    font-size: 1.5em;
    margin-bottom: 3%;
}

#register input[type="submit"], #login input[type="submit"] {
    font-family: 'Roboto Mono', monospace;
    background: #1abc9c;
    border: 1px black solid;
    color: white;
    margin-left: 50%;
}

#register, #login {
    font-size: 1.5em;
    margin-top: 8%;
}

#register {
    float: left;
    margin-left: 10%;
    padding-right: 5%;
    border-right: 1px black solid;
}

#login {
    float: right;
    margin-right: 10%;
}

/* CreateList.html */

#createListForm {
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    min-height: 22vh;
    margin-left: 30%;
    margin-top: 8%;
}

#listTitleLabel, #passphraseLabel {
    font-size: 1.5em;
}

#listTitle, #passphrase {
    flex: 1;
    font-size: 2em;
    text-align: center;
}

#makeList {
    border: 1px solid black;
    background: #1abc9c;
    font-size: 2em;
    color: white;
    width: 50%;
    margin-left: 25%;
    padding: 2%;
    cursor: pointer;
}

/*View List*/


#listViewerTitle {
    text-align: center;
    /*margin-left: 40%;*/
    margin-top: 2%;
    font-size: 3em;
    font-weight: 400;
    text-decoration: underline;
    color: black;
}

#listViewerTitle:hover {
    color: #1abc9c;
    cursor: pointer;
}

#listId {
    /*margin-top: 1%;*/
    font-weight: 200;
    text-align: center;
    margin-bottom: 5%;
}

#listViewerEntries {
    margin-left: 15%;
    font-size: 1.5em;
    font-weight: 200;
}

#listViewerEntries li {
    margin-bottom: 1em;
    font-size: 1.2em;
}


#listViewerEntries li:hover {
    text-decoration: line-through;
    cursor: pointer;
    color: #1abc9c;
}

#newItemText {
    font-size: 1.5em;
    margin-left: 14.5%;
}

#addItem, #renameTitleSubmit, #saveList {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    background: #1abc9c;
    color: black;
    border: 1px solid black;
    font-weight: 100;
}

#saveList {
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
}

#formPopup {
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    min-height: 22vh;
    margin-left: 30%;
    margin-top: 5%;
}

#formPopup h1 {
    font-size: 1.5em;
    font-weight: 400;
}

#formPopup input[type=password] {
    flex: 1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
}

/* When the inputs get focus, do something */
#formPopup input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
#formPopup input[type="submit"] {
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    background: #1abc9c;
    flex: 1;
    font-size: 2em;
    color: white;
    border: 1px solid black;
}

#formPopup input[type="submit"]:hover, #joinList:hover, #createList:hover, #makeList:hover, #addItem:hover, #saveList:hover {
    background: #0c856d;
    cursor: pointer;
}

#renameTitleForm {
    margin: auto;
    display: inline-block;
    text-align: center;
}

#renameTitle {
    margin-top: 2%;
    font-size: 2em;
}

#savedListsDisplay {
    font-family: 'Roboto Mono', monospace;
    /*background: red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}


.savedListElementTitle {
    /*background: green;*/
    font-weight: 400;
    margin-top: 3%;
    /*font-size: 2.5em;*/
}

.savedListElement {
    text-align: center;
    /*background: blue;*/
    font-weight: 200;
    flex: 1;
}

.savedListElement h2:hover {
    color: #0c856d;
    cursor: pointer;
}