* {
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #bdbdbd;
}

.header {
    padding-top: 1%;
    padding-bottom: 1%;
    flex-direction: column;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.title {
    margin-bottom: 1%;
    font-weight: 700;
}

.subTitle {
    font-weight: 400;
}

form {
    color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    min-height: 20vh;
    margin-left: 35%;
    margin-top: 5%;
}


input[type=text] {
    box-sizing: border-box;
    flex: 1;
    font-size: 2em;
    text-align: center;
}


input[type=submit] {
    background: #1abc9c;
    flex: 1;
    font-size: 2em;
    color: white;
    border: 1px solid black;
}

#codeLabel {
    font-size: 1.5em;
}

#createList {
    margin-left: 35%;
    margin-top: 10%;
    background: #1abc9c;
    font-size: 2em;
    color: white;
    border: 1px solid black;
    width: 30%;
    padding: 1%;
}