* {
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #d9d7b8;
}


.header {
    padding-top: 1%;
    padding-bottom: 1%;
    flex-direction: column;
    text-align: center;
    background: #1abc9c;
    color: white;
}

a {
    margin-bottom: 1%;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.title:visited, title:link {
    text-decoration: none;
    color: white;
}

.subTitle {
    font-weight: 400;
}


#homeForm {
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    min-height: 22vh;
    margin-left: 30%;
    margin-top: 8%;
}


#code {
    flex: 1;
    font-size: 2em;
    text-align: center;
}


#joinList {
    font-family: 'Roboto Mono', monospace;
    background: #1abc9c;
    flex: 1;
    font-size: 2em;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

#codeLabel {
    font-size: 1.5em;
}

#createList {
    font-family: 'Roboto Mono', monospace;
    margin-left: 35%;
    margin-top: 5%;
    background: #1abc9c;
    font-size: 2em;
    color: white;
    border: 1px solid black;
    width: 30%;
    padding: 1%;
    cursor: pointer;
}

#registerLogin {
    font-size: 1.3em;
    float: right;
    margin-right: 1%;
    margin-top: 0.5%
}

#registerLogin:hover {
    color: #1abc9c;
    cursor: pointer;
}


/* CreateList.html */

#createListForm {
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    min-height: 22vh;
    margin-left: 30%;
    margin-top: 8%;
}

#listTitleLabel, #passphraseLabel {
    font-size: 1.5em;
}

#listTitle, #passphrase {
    flex: 1;
    font-size: 2em;
    text-align: center;
}

#makeList {
    border: 1px solid black;
    background: #1abc9c;
    font-size: 2em;
    color: white;
    width: 50%;
    margin-left: 25%;
    padding: 2%;
    cursor: pointer;
}

/*View List*/

#listViewerTitle {
    text-align: center;
    margin-top: 2%;
    font-size: 3em;
    font-weight: 400;
    text-decoration: underline;
    color: black;
}

#listId {
    margin-top: 1%;
    font-weight: 100;
    text-align: center;
}

#listViewerEntries {
    margin-left: 15%;
    font-size: 1.5em;
    font-weight: 200;
}

#listViewerEntries li {
    margin-bottom: 1em;
    font-size: 1.2em;
}


#listViewerEntries li:hover {
    text-decoration: line-through;
    cursor: pointer;
}

#newItemText {
    margin-left: 17%;
    font-size: 1.5em;
}

#formPopup {
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    min-height: 22vh;
    margin-left: 30%;
    margin-top: 5%;
}

#formPopup h1 {
    font-size: 1.5em;
    font-weight: 400;
}

#formPopup input[type=password] {
    flex: 1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
}

/* When the inputs get focus, do something */
#formPopup input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
#formPopup input[type="submit"] {
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    background: #1abc9c;
    flex: 1;
    font-size: 2em;
    color: white;
    border: 1px solid black;
}

#formPopup input[type="submit"]:hover, #joinList:hover, #createList:hover, #makeList:hover {
    background: #0c856d;
}